<link rel="stylesheet" href="http://at.alicdn.com/t/font_1150685_4yjz7s0v556.css">
<link rel="stylesheet" href="../../css/footer.css">
<footer id="footer">
    <div class="fHeader">
        <ul></ul>
    </div>
    <div class="fCenter">
        <div class="fCenterLeftBar">
            <div class="fPhoneBar">
                <div>
                    <span class="iconfont icon-zuoji"></span>
                    订购热线：</div>
                <div class="phone"></div>
            </div>
            <div class="fCenterLeftBaUls"></div>
        </div>
        <div class="fCenterRightBar">
            <img class="wxCodeImg" src="../../images/wxcode.jpg" alt="">
        </div>
    </div>
    <div class="fBottom">
        <img src="../../images/logo.png" alt="">
        <span>版权所有&copy;&nbsp;<span style="color:#0C9702;font-size: 14px;">凉鲜生</span>&nbsp;保存所有权利</span>
    </div>
</footer>
<div class="side" style="display:none">
    <ul>
        <li>
            <a href="#">
                <div class="sidebox"><img src="../../images/share.png">分享</div>
            </a>
        </li>
        <li><a href="#">
                <div class="sidebox"><img src="../../images/serve.png">在线客服</div>
            </a></li>
        <li><a href="#">
                <div class="sidebox"><img src="../../images/questionnaire.png">问卷调查</div>
            </a></li>
        <li style="border:none;"><a href="javascript:goTop();" class="sidetop"><img src="../../images/toTop.png"></a>
        </li>
    </ul>
</div>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="../../js/footer.js"></script>
