<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>about</title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1150685_p2u0ulgrejc.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/about.css">
</head>
<body>
    <%-include('common/header.ejs')%>
    <div id="aboutBanner">
        <ul class="slideList">
            <li>
                <a href="">
                    <img src="../images/fruit.jpg" alt="">
                </a>
            </li>

            <li>
                <a href="">
                    <img src="../images/jam.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../images/fruit1.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../images/banner4.jpg" alt="">
                </a>
            </li>
        </ul>
    </div>
    <div id="mainBar">
        <!-- <div class="welCome">
            <h3>欢迎来到<span class="ourName">凉鲜生</span>水果直销平台</h3>
            <p>剪短发了看电视就废了发动机可夫斯基代理费的积分六点开始放假
                代理费几点睡了客服
                几点睡了福建省了的看法简单来说富家大室冷风机
                来打飞机大凉山会计分录速度快放假的路口附近
            </p>
        </div> -->
        <div class="welcome">
            <div class="aboutInfo">
                    <h3>
                        <div style="line-height: 40px;font-weight: bolder; color:#0C9702;font-size:14px;letter-spacing:5px;font-style: italic;">Coolfresh</div>
                        欢迎来到<span class="ourName">凉鲜生</span>水果直销平台
                    </h3>
                    <article>
                        j解放东路方会计师胜利大街发力的发力的会计分录的雕刻机房
                        掉机房练看得积分连接付款了的的积分快乐大
                        放假了雕刻机房来到放假抵抗力
                        荆防颗粒世纪东方了掉机房练看得是
                        使肌肤了斯柯达积分j解放东路方会计师胜利大街发力的发力的会计分录的雕刻机房
                        掉机房练看得积分连接付款了的的积分快乐大
                        放假了雕刻机房来到放假抵抗力
                        荆防颗粒世纪东方了掉机房练看得是
                        使肌肤了斯柯达积分
                    </article>
            </div>
            <div class="ourVedio">
                <img src="../images/field.jpg" alt="">
            </div>
        </div>
    </div>
    <%-include('common/footer.ejs')%>
    <%-include('common/message.ejs')%>
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
        </script>
    <script type="text/javascript" src='js/jquery-ui.min.js'></script>
    <script src="../js/about.js"></script>
    <script src="../js/message.js"></script>
    <script src="../js/common.js"></script>
</body>

</html>